
.look{
    margin-top: 100px;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 20%;
    
}
.fom{
    background-color: gray;
    align-items: center;
    display: flex;
    align-self: center;
    height: 410px;
}
.fill{
    margin-left: 210px;
}

.buttons{
margin-left: 140px;
}